<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Riyasyz.kz</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css">
   <link rel="stylesheet" href="css/event.css">
</head>
<body>
  <!-- header-->
  <section class="header">

     <a href="/main" class="logo">
       <div class="logo-image">
         <img src="images/logohs.png" class="img-fluid" width="180" height="80"></div></a>
     <nav class="navbar">
        <a href="events">events</a>
         <a href="profile">profile</a>
         <form action="/logout" method="post" style="display: inline-block;">
             <button type="submit" name="logout" style="font-size:20px;margin-left:20px;padding:5px;">Logout</button>
         </form>
     </nav>
     <div id="menu-btn" class="fas fa-bars"></div>
  </section>

  <!-- section starts  -->



  <section class="fd" id="fd">

     <div class="heading">
        <span>organizations</span>
        <h3>list</h3>
     </div>

     <div class="swiper fd-slider">

        <div class="swiper-wrapper">

           <div class="swiper-slide slide" data-name="fd-1">
              <img src="https://qazvolunteer.kz/uploads/cc/7d/turan.astana_volunteers-20190805-0001.jpg" alt="">
              <h3>Volunteer Corps "Turan-Astana Volunteers</h3>
           </div>

           <div class="swiper-slide slide" data-name="fd-2">
              <img src="https://qazvolunteer.kz/uploads/2c/d1/ZH6vGsTMuUo.jpg" alt="">
  <h3>Youth Alliance</h3>
           </div>

           <div class="swiper-slide slide" data-name="fd-3">
              <img src="https://www.demeufund.kz/bitrix/templates/kmf-demeu/img/logo-no-bg-kz-ru-prel.png" alt="">
  <h3>Demeu.kz</h3>
           </div>

           <div class="swiper-slide slide" data-name="fd-4">
              <img src="http://sun9-81.userapi.com/s/v1/if2/yJq42XEbwgVe2jGiH5JLMgNFRm7p_PqeXyeZEPveevNjaFA9OgGbsN521SjGvb23qPRuVX8tuy5idAmEprnk9ElC.jpg?size=200x220&quality=96&crop=52,185,549,606&ava=1" alt="">
  <h3>Qasietty Jol</h3>
           </div>

           <div class="swiper-slide slide" data-name="fd-5">
              <img src="https://documentolog.kz/uploads/files/cisc_logo.jpg" width=240px; height=80px; alt="">
  <h3>CISC</h3>
           </div>

        </div>

        <div class="swiper-pagination"></div>

     </div>

  </section>



  <section class="fd-preview-container">

     <div id="close-preview" class="fas fa-times"></div>

     <div class="fd-preview" data-target="fd-1">
        <img src="https://qazvolunteer.kz/uploads/cc/7d/turan.astana_volunteers-20190805-0001.jpg" width=280px; height=60px;  alt="">
        <h3>Volunteer Corps "Turan-Astana Volunteers</h3>
        <p>Development of volunteering within the walls of TAU University and beyond. Attracting youth to the volunteer industry.
  Organization of events and events of a social type.</p>
        <a href="https://qazvolunteer.kz/ru/organizations/35" class="btn">Follow</a>
     </div>

     <div class="fd-preview" data-target="fd-2">
        <img src="https://qazvolunteer.kz/uploads/2c/d1/ZH6vGsTMuUo.jpg" alt="">
  <h3>Youth Alliance</h3>
        <p>The purpose of the Association is: - to involve young people in the active implementation of the goals and objectives outlined in the
  program "Rukhani Zhangyru"; - increase of patriotic feelings of youth;</p>
      <a href="https://qazvolunteer.kz/ru/organizations/39" class="btn">Follow</a>
     </div>

     <div class="fd-preview" data-target="fd-3">
        <img src="https://www.demeufund.kz/bitrix/templates/kmf-demeu/img/logo-no-bg-kz-ru-prel.png" alt="">
  <h3>Demeu.kz</h3>
        <p>Social movement to help the elderly, orphans, and single mothers with special children. Demeu volunteers also provide food assistance to mothers with many children without a head of the family.
  You can support the social movement financially.</p>
        <a href="https://www.demeufund.kz/" class="btn">Follow</a>
     </div>

     <div class="fd-preview" data-target="fd-4">
        <img src="http://sun9-81.userapi.com/s/v1/if2/yJq42XEbwgVe2jGiH5JLMgNFRm7p_PqeXyeZEPveevNjaFA9OgGbsN521SjGvb23qPRuVX8tuy5idAmEprnk9ElC.jpg?size=200x220&quality=96&crop=52,185,549,606&ava=1" alt="">
  <h3>Qasietty Jol</h3>
        <p>A charitable foundation that provides assistance to children with neuro-orthopedic diseases from orphanages and low-income families. The Foundation provides medical assistance to children, within the framework of which they undergo comprehensive rehabilitation.
          You can support the project financially.</p>
        <a href="https://www.kzhol.kz/" class="btn">Follow</a>
     </div>

     <div class="fd-preview" data-target="fd-5">
        <img src="https://documentolog.kz/uploads/files/cisc_logo.jpg" width=240px; height=80px; alt="">
  <h3>CISC</h3>
        <p>"CISC" was created to improve the mechanism of interaction between the state and NGOs in Kazakhstan, to ensure a greater degree of transparency in grant-making activities.
  Its main activities are the provision of state and non-state grants to NGOs and control over their implementation.</p>
        <a href="https://cisc.kz/" class="btn">Follow</a>
     </div>

  </section>




<section class="blogs" id="blogs">

   <div class="heading">
      <span>Events</span>
      <h3>popular</h3>
   </div>

   <form method="GET" action="/events" style="">
     <div class="col-sm-10" style="height: 35px; display: inline-block; margin-right: 15px;">
       <select name="category" class="form-control" style="font-size: 20px">
         <option value="">All Categories</option>
         <option value="Helping the homeless">Helping the homeless</option>
         <option value="Volunteering">Volunteering</option>
         <option value="Helping animals">Helping animals</option>
         <option value="Fundraising">Fundraising</option>
         <option value="Other...">Other...</option>
       </select>
     </div>
     <button type="submit" style="height:30px; font-size: 20px; margin-bottom: 15px; margin-top:15px; font: Bold;" >Filter</button>
   </form>

   <div class="swiper blogs-slider">
      <div class="swiper-wrapper">
<%for(var i = data.length-1;i>=0;i--){%>
         <div class="swiper-slide slide">
            <div class="image">
               <img src="<%=data[i].urlToImage%>" alt="">
               <span><%=data[i].company%></span>
            </div>
            <div class="content">
               <div class="icon">
                  <a href="#"> <i class="fas fa-calendar"></i> <%=data[i].publishedAt%> </a>
                  <a href="#"> <i class="fas fa-calendar"></i> <%=data[i].date%> </a>
                  <a href="#"> <i class="fas fa-user"></i> by <%=data[i].author%> </a>
               </div>
               <div style="height: 40px;">
                  <a href="#" class="title"><%=data[i].title.slice(0, 37)%>...</a>
                  <p></p>
               </div>
               <br>
               <a href="/readmore/<%=data[i]._id%>" class="btn">Read more</a>
            </div>
         </div>
   <%}%>
</div>
   <div class="swiper-pagination"></div>
   </div>

</section>

<!-- blogs section ends -->

<!-- footer section starts  -->

<section class="footer">

   <div class="icons-container">
      <div class="icons">
         <i class="fas fa-phone"></i>
         <h3>Hotline</h3>
         <p>+77772121993</p>
      </div>

      <div class="icons">
         <i class="fas fa-envelope"></i>
         <h3>Email</h3>
         <p>riyasyz.kz@gmail.com</p>
      </div>

      <div class="icons">
         <i class="fas fa-map"></i>
         <h3>Address</h3>
         <p>Nur-Sultan, EXPO C1</p>
      </div>

   </div>

   <div class="share">
      <a href="https://www.facebook.com/zuck/" class="fab fa-facebook-f"></a>
      <a href="https://t.me/just_Sayat" class="fab fa-telegram"></a>
      <a href="https://www.instagram.com/tokayev_online/" class="fab fa-instagram"></a>
   </div>

</section>

<!-- footer section ends  -->




<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"></script>

<!-- custom js file link  -->
<script src="js/script.js"></script>

<script>
   lightGallery(document.querySelector('.gallery .gallery-container'));
</script>

</body>
</html>
